.height-carousel img{
    height: 500px;
    object-fit: cover;
}
.carousel-item{
    position:relative;
}
.carousel-item{
    position:relative;
}
.info-text{
    background-color: rgba(255,255,253,.7);
    width: 40%;
    position:absolute;
    top:350px;
    height: 28%;
    display:flex;
    align-content: center;
    flex-wrap: wrap; /*test*/
    color: #333;
    transform: translate(0px,300px);
    opacity: 0;
    padding: 50px;
    border-radius: 8px;
}
.active .animate{
    opacity: 1;
    transform: translate(0px,0px);
    transition: all 0.7s ease-in-out;
}
.card-info-travel{
    background-color: rgba(0,143,57,.2);
    border: solid 1px rgba(0,0,0,.1);
    width: 95%;
    padding:20px;
    border-radius:10px;
    box-shadow:3px 3px 2px #333;
}
.cards-info-travel{
    width:86%;
    margin:auto;
}
.cards-info-travel p{
    font-size: 13px;
}

.cards-carousel{
    width:85%;
    margin:auto;
}
#carouselBasicExample .carousel-control-prev{
    left:-8%!important;
}
#carouselBasicExample .carousel-control-next{
    right: -8%!important;
}
.card-img-top {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.card{
    border-radius: 12px !important;
    text-align: left !important;
    height: 100%;
}
.card:hover{
    cursor:pointer;
    box-shadow: 2px 2px 1px #333;
}




#footer button{
    background-color: #008f39;
    border-color: #008f39;
}

#footer input{
    border-color: #008f39;
}

#footer a{
    color: #008f39;
    font-size: 25px;
}

#destinoRandom .image-content img {
    width: 100%;
    height: 100%;
}

#destinoRandom .image-content{
    text-align: center;
}